.contact-col{
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin-top: 50px;
  padding: 50px;
  font-family: 'Quicksand', sans-serif;
  color: #464646;

  h1{
    font-size: 3.2em;
    margin-bottom: 20px;
  }

  p{
    font-family: 'EB Garamond', serif;
    font-size: 1.2em;
    line-height: 1.4em;
    padding-top: 26px;
  }
  a{
    text-decoration: none;
    color: #ED2121;
  }

  img{
    width: 45px;
    height: 45px;
    margin: 20px;
  }
}

#the-man{
  width: 200px;
  height: 200px;
  // display: inline-block;
  float: left;
}

.contacts{
  clear: both;
  max-width: 800px;
  margin: 25px auto;
  // background: pink;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #464646;
  font-size: 1.6em;
  height: 100px;
  text-align: center;
  position: relative;
  .left-cnt{
    text-align: left;
    position: absolute;
    line-height: 100px;
    width: 70%;
    right: 0;
    height: 100px;
  }

  .right-cnt{
    position: absolute;
    line-height: 100px;
    width: 28%;
    left: 0;
    height: 100px;
  }
}

.right-cnt.mail{
  background-image: url("../assets/img/mail.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.right-cnt.phone{
  background-image: url("../assets/img/phone.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

@media (max-width: 650px) {
  .contacts{
    font-size: 1.6em;
    .left-cnt{width: 80%;}
    .right-cnt{width: 18%;}
  }
}

@media (max-width: 560px) {
  .contact-col{
    #the-man{
      display: block;
      float: none;
      margin: 10px auto;
    }
    p{
      width: 100%;
      clear: both;
    }
    h1{
      text-align: center;
    }
  }
  .contacts{
    font-size: 1.4em;
    .left-cnt{width: 80%;}
    .right-cnt{width: 18%;}
  }
}

@media (max-width: 500px) {
  .contacts{
    font-size: 1em;
    .left-cnt{width: 80%;}
    .right-cnt{width: 18%;}
  }
}


.small-contacts{
  display: block;
  background: #e6e6e6;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0px;
  margin-bottom: 50px;
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-size: 1.6em;
    color: #464646;
  }
  .little-buttons{
    height: 50px;
    margin-bottom: 20px;
    a{
      display: inline-block;
      height: 50px;
      width: 50px;
      background-color: pink;
    }

    #contact-fb{
      background-image: url("../assets/img/face_btn.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    #contact-in{
      background-image: url("../assets/img/linked_btn.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    #contact-gp{
      background-image: url("../assets/img/google_btn.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }


  }
}
