---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@font-face { font-family: Matrix; src: url('../assets/fonts/MATRIX.ttf'); }
@font-face { font-family: Architec; src: url('../assets/fonts/ARCHITEC.TTF'); }
@font-face { font-family: Charakterny; src: url('../assets/fonts/Charakterny.otf'); }
@font-face { font-family: Gtek; src: url('../assets/fonts/Gtek_Technology.ttf') format('truetype'); }

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
body{
  background-image: url("../assets/img/bg.png");
  background-position: center -17px;
  font-size: 16px;
}

.section-about, .cv-containter, {
  background-color: rgba(255, 255, 255, 0.39);
}

p, span, ul, h1, h2, h3, .action-section{
  background-color: white;
}
// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "_reset";
@import "_index";
@import "_footer";
@import "_main_menu";
@import "_gis";
@import "_cv";
@import "_contact";
